{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}Histórico{% endblock %}

{% block conteudo %}
<div class="container">
 <div class="card">
  <div class="card-header">
    <h6>Lead: <p class="text-info">{{lead.id}}</p></h6>
    <h6>Cliente: <p class="text-info">{{lead.cliente}}</p></h6>
    <h6>Criado em: <p class="text-info">{{lead.created_at}}</p></h6>
  </div>
  {%for acao in acoes_lead%}
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="font-italic">Observação registrada: &nbsp;{{acao.observacao|capfirst|linebreaksbr}}</p>
      <p class="font-italic"> Data agendamento: {{acao.data_agenda|date:"SHORT_DATE_FORMAT"}} as {{acao.data_hora|time:"TIME_FORMAT"|default:"00:00"}} Interesse: {{acao.get_interesse_display}}.
         Termometro informado: {{acao.termometro}}.
      </p>
      <footer class="blockquote-footer">Ação registrada em: {{acao.created_at|date:"SHORT_DATE_FORMAT"}} as {{acao.created_at|time:"TIME_FORMAT"}}  <cite title="Source Title">Opportune</cite></footer>
    </blockquote>
  </div>
  {% empty %}
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Atenção:</p>
      <footer class="blockquote-footer">Nenhuma ação cadastrada para este Lead<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
  {% endfor %}
</div>
<div class = "container">
<div class="row">
    <div class="col-sm">
      <a href="{% url 'opportune:lead_acoes' lead.id %}" class="btn btn-primary"> Nova Ação</a>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm mr-4">
      <a href="{% url 'opportune:dashboard' %}" class="btn btn-danger"> Dashboard</a>
    </div>
 </div>
</div>

{%endblock%}