{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Novo Lead{% endblock %}

{% block conteudo %}

     <div class="jumbotron jumbotron-fluid">
       <div class="container">

          <h1 class="display-5">Novo Lead</h1>
            <form action="{% url 'opportune:new_lead'%}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a href="{% url 'opportune:list_lead_novos' %}" class="btn btn-info"> Voltar</a>

            </form>

       </div>

     </div>


{% endblock %}